@use "../../../../scss/var" as *;
@use "../../../../scss/mixin" as *;

.action {
    width: 100%;
    @include flex-between;
  }
  .btn {
    padding: $spacing-xs $spacing-sm;
    border-radius: $radius-md;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: $opacity-70;
    &.increase {
      background-color: $theme-color-info;
    }
    &.reset {
      background-color: $theme-color-warning;
    }
    &.decrease {
      background-color: $theme-color-error;
    }
    &:hover {
      opacity: $opacity-100;
      transform: scale(1.1);
    }
  }