@use "../../../../scss/var" as *;
@use "../../../../scss/mixin" as *;
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: $font-size-sm;
  color: $black-color;
  @include flex-between;
  padding: 0 $spacing-xl;
  gap: $spacing-xl;
  height: $header-hight;
  border-bottom: $border-width-thin solid $border-color-light;
  background-color: $theme-bg-color-1;
}

.action {
  @include flex-center;
  gap: $spacing-md;
  .action-btn {
    position: relative;
    padding: $spacing-xs;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }
  &:hover {
    .notify-icon {
      opacity: $opacity-100;
    }
  }
  .notify-icon {
    opacity: $opacity-70;
    transition: opacity $transition-base;
  }
  .notify-num {
    position: absolute;
    @include flex-center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $primary-color;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    right: 0;
    top: 0;
  }
  .avata {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: $radius-full;
    cursor: pointer;
    padding: 3px;
    &.vip {
      background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
      );
      .crown-icon {
        display: block;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .crown-icon {
      display: none;
      position: absolute;
      left: calc(100% - 6px);
      top: 0;
      transform: rotate(60deg);
      color: #f09433;
    }
  }
}
.popup-header {
  @include flex-between;
  padding: $spacing-md;
  .popup-title {
    margin: 0;
    font-size: $font-size-lg;
  }
  .avata {
    transform: scale(1.3);
  }
  .popup-info {
    flex: 1;
    display: flex;
    margin-left: $spacing-lg;
    flex-direction: column;
    gap: 4px;
    .popup-displayname {
        font-size: $font-primary;
        font-weight: $font-weight-bold;
    }
    .popup-username {
        font-size: 1.3rem;
        color: $theme-text-color-3;
    }
  }
  .popup-header-btn {
    outline: none;
    border: none;
    padding: $spacing-xs;
    background-color: transparent;
    color: $primary-color;
    cursor: pointer;
    transition: background $transition-base;
    &:hover {
      background-color: $theme-bg-color-2;
    }
  }
}
.only-small-screen {
        display: none;
    }
.popup-item {
  &.not-read {
    background-color: $theme-bg-color-2;
    &::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary-color;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
    }
  }
  &:hover {
    background-color: $theme-bg-color-2;
  }
  .noti-item-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  a {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
  }
  .course-item-img {
        height: 100%;
        width: 120px;
        border-radius: $radius-md;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
  .popup-item-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $font-size-sm;
    b {
        font-weight: $font-weight-bold;
    }
    .noti-item-time {
        color: $primary-color;
        font-size: 1.3rem;
    }
    .popup-course-name {
        font-weight: $font-weight-bold;
    }
    .popup-course-time {
        color: $theme-text-color-3;
    }
    .popup-course-process {
        height: 8px;
        width: 160px;
        background-color: $theme-bg-color-2;
        border-radius: $radius-sm;
        overflow: hidden;
    }
  }
}

@include respond-max($breakpoint-lg) {
  .wrapper {
    padding: 0 $spacing-lg;
  }
}
@include respond-max($breakpoint-md) {
  .wrapper {
    padding: 0 $spacing-md;
    gap: $spacing-md;
  }
  .courses-btn {
    display: none;
  }
  .only-small-screen {
        display: block;
    }
  
}
